body {
  background-color: hsla(250,0%,0%,1);
  /*background-image: url("night2.jpg");*/

  margin: 0px;
  overflow: scroll;
  font-family: 'Helvetica', cursive;
}

h2 {
  left: 50%;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.05em;
  color:hsla(255, 255%, 255%, 0.70);
}

img {
  opacity: 0.9;
  filter: alpha(opacity=90);
  overflow: hidden;
}

/* for the spooky.gif background

canvas {
  background-image: url('17.gif');
  background-size: cover;
}

*/
